body {

}
.btn {
    border-radius: 0;
}
a {
    /*color: #ffffff;*/
}
section.content-header {
    /*border-bottom: 3px solid black;*/
    /*padding: 20px;*/
}

.content-header .breadcrumb {
    font-size: 1.2em;
    padding: 15px;
}

.main-content {
    padding: 30px;
}
.content-wrapper {
    background-color: #FFFFFF;
}
.grid-view table {

}

.grid-view table > thead > th {

}