body {

}
.btn {
    border-radius: 0;
}
a {
    /*color: #ffffff;*/
}

a:hover {
    color: #000000;
}

section.content-header {
    /*border-bottom: 3px solid black;*/
    /*padding: 20px;*/
}

.content-header .breadcrumb {
    font-size: 1.2em;
    padding: 15px;
}

.content-wrapper {
    background-color: #ffffff;
    padding: 10px 30px;
}
table, th, td {
    border: 1px solid #ddd !important;
}

.grid-view table > thead > th {

}

.btn > a {
    color: #ffffff;
}

ul.ibox-title-ul {
    padding: 0;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: left;
    }
}
