body {

}

div#header {

}

div#header a#logo {

}

div#header form#form-search {

}

div#header ul#navbar{
    padding: 0;
    display: flex;
}

div#header ul#navbar li {
    display: inline;
}

div#header ul#navbar li a {

}

div#header ul#navbar li#child-menu {

}

div#header ul#navbar li#child-menu ul {

}
div#header ul#navbar li#child-menu ul li {
    display: block;
}
div#header ul#navbar li#child-menu ul li a {

}